# Python
__pycache__/
*.py[cod]
*.so

# Environments
.venv/
.env

# Dataset files
/data/
/openlane_v1_300/

# Model checkpoints
checkpoints/
*.pth
*.pt
*.ckpt
*.onnx

# Training outputs
outputs/

# Jupyter
.ipynb_checkpoints/

# OS / editor files
.DS_Store
Thumbs.db

